<div class="customContainer">
  <div class="maincontainer">
    <div class="subContainers">
      <div data-aos="fade-up">
        <h1>The B2B Market for Deliciously Imperfect Fruit & Veg</h1>
        <p>
          Fight climate change and become a more sustainable business by
          rescuing surplus and irregular produce!
        </p>
      </div>
      <div class="buttons">
        <div class="btn1" data-aos="fade-up">
          <a href="/login.php">
          <button>
            Order Online
          </button>
        </a>
          <p>EXISTING CUSTOMERS</p>
        </div>
        <div class="btn3" data-aos="fade-up">
          <a href="/login.php?action=create_account">
          <button>
              Register For An Account
            </button>
          </a>
          <p>NEW CUSTOMERS</p>
        </div>
      </div>
    </div>
    <div class="subContainersImage">
      <div class="layer">
        <h3 data-aos="fade-up">Radically Seasonal</h3>
        <p data-aos="fade-up">
          Straight or wonky, perfect or imperfect…we supply what’s lying in our
          fields and markets right at this moment.
        </p>
      </div>
    </div>
    <div class="subContainersDown">
      <div class="horLine">
        <hr />
      </div>
      <div class="subHeading" data-aos="fade-up">
        <h3>Why Work With Angry Monk?</h3>
      </div>
      <div class="subHeadingQNA">
        <div class="sample" data-aos="fade-up">
          <h3>SUSTAINABILITY</h3>
          <p>
            We rescue produce that would have otherwise gone to landfill,
            incineration or compost, saving up to 3KG of CO2e per KG of produce
            rescued
          </p>
        </div>
        <div class="sample" data-aos="fade-up">
          <h3>PRICE</h3>
          <p>Surplus produce is on average 16% cheaper</p>
        </div>
        <div class="sample" data-aos="fade-up">
          <h3>QUALITY</h3>
          <p>Surplus produce is just as fresh and delicious as non-surplus</p>
        </div>
        <div class="sample" data-aos="fade-up">
          <h3>CUSTOMER SATISFACTION</h3>
          <p>
            58% of consumers would increase their spend with companies actively
            fighting food loss
          </p>
        </div>
        <div class="sample" data-aos="fade-up">
          <h3>CREATING CHANGE FOR GOOD</h3>
          <p>
            By transforming the way you work with food, you are contributing to
            a fairer food supply chain that's good for you, good for growers and
            good for the planet
          </p>
        </div>
      </div>
      <div class="learnMorebtn" data-aos="fade-up">
        <a href="mailto:hello@angrymonk.co.uk">
        <button>
          Learn More
        </button>
      </a>
      </div>
    </div>
  </div>
</div>
<section class="customFooter">
  <div class="subContainer">
    <div class="boxes" data-aos="fade-up">
      <h3>
        WE’RE BACKED BY LEADERS IN CLIMATE SCIENCE, TECHNOLOGY AND AGRICULTURE
      </h3>
    </div>
    <div class="boxesImg">
      <a href="https://www.imperial.ac.uk/grantham/" class="imagesComp" data-aos="fade-up"
        ><img
          src="https://cdn11.bigcommerce.com/s-gy4celaekj/images/stencil/original/image-manager/granthaminstitute.jpeg?t=1693975568&_gl=1*13zegu8*_ga*Mjk4MjM4NDEyLjE2ODg5NzM1ODU.*_ga_WS2VZYPC6G*MTY5Mzk3NDE2NS43Ni4xLjE2OTM5NzU1ODguNjAuMC4w"
          alt=""
          srcset=""
      /></a>
      <a href="https://farm491.com/" class="imagesComp" data-aos="fade-up"
        ><img
          src="https://cdn11.bigcommerce.com/s-gy4celaekj/images/stencil/original/image-manager/farm491.png?t=1693975569&_gl=1*1lb6yus*_ga*Mjk4MjM4NDEyLjE2ODg5NzM1ODU.*_ga_WS2VZYPC6G*MTY5Mzk3NDE2NS43Ni4xLjE2OTM5NzU2MzkuOS4wLjA."
          alt=""
          srcset=""
      /></a>
      <a href="https://www.bethnalgreenventures.com/" class="imagesComp" data-aos="fade-up"
        ><img
          src="https://cdn11.bigcommerce.com/s-gy4celaekj/images/stencil/original/image-manager/bgv.png?t=1693975570&_gl=1*1lb6yus*_ga*Mjk4MjM4NDEyLjE2ODg5NzM1ODU.*_ga_WS2VZYPC6G*MTY5Mzk3NDE2NS43Ni4xLjE2OTM5NzU2MzkuOS4wLjA."
          alt=""
          srcset=""
      /></a>
      <a href="https://forwardfooding.com/foodtech500/" class="imagesComp" data-aos="fade-up"
        ><img
          src="https://cdn11.bigcommerce.com/s-gy4celaekj/images/stencil/original/image-manager/foodtech500.png?t=1693975572&_gl=1*s0y3z9*_ga*Mjk4MjM4NDEyLjE2ODg5NzM1ODU.*_ga_WS2VZYPC6G*MTY5Mzk3NDE2NS43Ni4xLjE2OTM5NzU3NDkuNjAuMC4w"
          alt=""
          srcset=""
      /></a>
      <a href="https://london.impacthub.net/ftc-accelerate/" class="imagesComp" data-aos="fade-up"
        ><img
          src="https://cdn11.bigcommerce.com/s-gy4celaekj/images/stencil/original/image-manager/feedingthecitylogo1.jpeg?t=1693975573&_gl=1*s0y3z9*_ga*Mjk4MjM4NDEyLjE2ODg5NzM1ODU.*_ga_WS2VZYPC6G*MTY5Mzk3NDE2NS43Ni4xLjE2OTM5NzU3NDkuNjAuMC4w"
          alt=""
          srcset=""
      /></a>
    </div>
  </div>
</section>
